html {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif, Arial;
}

body {
  margin: 0 auto;
}




@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Body*/
body{
    background-color: #ffffff;
    font-size: 16px;
    color: #222;
    line-height: 1.15;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper{
    /*max-width: 2200px;*/
    margin: 0px auto;
}



/*Body-Header------Main-menu*/
#login_ a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
#cart button{
    color: white;
    font-size: 25px;
    border: none;
    outline: none;
    
    padding: 5px 5px;
    margin: 0px 10px;
    
}
#header{
    background-color: #222;
    background-size: cover;
    color: black;
    /*padding: 20px;*/
    padding: 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#logo{
    padding: 5px 5px;
    flex-basis: 5%;
}
#logo img{   
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}
.container{   
    display: flex;
    /*margin: 0px auto; canh giữa*/
}

nav{
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
    flex-basis: 70%;
}

#Hello{
    color: #f5cd79;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 50px;
    margin: 0px 5px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pacifico', cursive;
    flex-basis: 25%;
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li a{
    color: whitesmoke;
    font-size: 15px;
    display: block;
    padding: 5px 5px;
    margin: 0px 5px;
    text-align: center;
    text-decoration: none;/* bỏ gạch chân của thẻ a*/
}
#main-menu li{
    position: relative;;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: grey;
    padding: 5px 0px;
    list-style: none;
    width: 100px;
    border-bottom: 1px solid forestgreen;
    display: none;/* ẩn menu khi chưa nhấn chọn nó*/
}
/* Khi hover chuột vào sẽ hiện thẻ li*/
#main-menu li:hover>ul.sub-menu{
    
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border: 1px solid white;
    left: 0;
}
#main-menu ul.sub-menu li:last-child a{
    /*border: none;*/
    border-bottom: 1px solid white;
}
/*Rê chuột vào hiện vùng sáng*/
#main-menu ul.sub-menu li:hover a{
    border-bottom: 1px solid blue;
}
/* Menu cấp 3*/
#main-menu ul.sub-menu ul.sub-menu{
    left: 145px;
    top: 15px;
}
/* Thiết lập boder gạch chân khi hover*/
/* ">": tác động đến cấp đầu tiên*/
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}
/*Dấu mũi tên chỗ thanh menu*/
#main-menu>li.has-child::after{
    font: var(--fa-font-solid); content: "\f107";
    color: aliceblue;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 18px 0px;
}
#main-menu .sub-menu>li.has-child::after{
    font: var(--fa-font-solid); content: "\f105";
    color: aliceblue;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 0px;

}




.box{
    display: flex;
    justify-content: center;
    height: 100px;
    overflow: hidden; /* An phan ben ngoai du*/
    box-shadow: 1px 1px 3px #303952;
    position: relative;

}
.box img{
    /*max-width: 100%;*/
    max-height: 100px;
    position: absolute;
    left: -2000px;
    transition: left 8.5s ease-in-out;
}
.box:hover img{
    left: 0px;
}




/*---------------------------------------------------------------------------------------*/
#main-content{
    display: flex;
    min-height: 500px;
}
/*Content*/
#content{
  flex-basis: 20%;
  background-color: #3d3d3d;
  background-size: cover;
  color: white;
  font-size: 10px;
  font-family: monospace;
  border-style: ridge; 
}

#img-sale img{
  max-width: 250px;
  min-height: 250px;
  border-style: groove;   
}
#huongdan img{
  max-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  border-style: groove; 
  margin-left: 75px; 
  margin-right: 75px;  
}
#content h3{
  font-size: 18px;
  color: whitesmoke;
  padding: 10px 30px;
  margin: 40px 0px;
  text-transform: uppercase;
  border: 1px solid whitesmoke;
  display: inline-block; /*Chỉnh cho khung vừa với chữ*/
  font-weight: 600;
  background-color: #303952;
}

#content h2{
  font-size: 18px;
  color: whitesmoke;
  padding: 30px 30px;
  margin: 40px 0px;
  text-transform: uppercase;
  border: 1px solid #303952;
  display: inline-block; /*Chỉnh cho khung vừa với chữ*/
  font-weight: 600;
  background-color: #303952;
  box-shadow: 2px 2px 5px #303952;
}
#info{
    flex-basis: 100%;
    border: 1px solid #e6e2ed;
    background-image: url(/../img/bg-img5.png);
    background-size: cover;
}
#video{
    flex-basis: 100%;
    background-image: url(/../img/new9.png);
    background-size: cover;
}


/* ---------- Danh sách các sản phẩm ------------ */
/*
.headline
.headline h3
*/

/*
#info p {
    font-size: 20px;
    padding: 10px 10px;
    text-align: justify;
    margin: 10px 20px;
    border: 1px solid #222;
    display: inline-block; 
    color: #555;
    background-color: #e6e2ed;
    opacity: 0.5;  
    filter: alpha(opacity=30);
}*/


#footer{
    background-color: #222;
    background-size: cover;
    color: whitesmoke;
    padding: 15px;
    text-align: center;
}

#footer img{   
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}




/************* CHAT ****************/
.chat-bar-collapsible {
  position: fixed;
  bottom: 0;
  right: 0px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 380px;
  text-align: left;
  outline: none;
  font-size: 18px;
  border-radius: 10px 10px 0px 0px;
  border: 3px solid white;
  border-bottom: none;
}
.collapsible img{
  width: 30px;
  height: 30px;
  margin: 0px 20px;
  border-radius: 50%;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


.full-chat-block {
  width: 380px;
  background: white;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: max-content;
  transition: max-height 0.2s ease-out;
}

.outer-container {
  min-height: 375px;
  bottom: 0%;
  position: relative;
}

.chat-container {
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  scroll-behavior: smooth;
  hyphens: auto;
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-bar-input-block {
  display: flex;
  float: left;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px 10px 0px 0px;
  padding: 10px 0px 10px 10px;
}

.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  float: right;
  font-size: 20px;
}

#chat-icon:hover {
  opacity: .7;
}

/* Chat bubbles */

#userInput {
  width: 75%;
}

.input-box {
  float: left;
  border: none;
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  color: #000;
  background-color: white;
  outline: none
}

.userText {
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  text-align: right;
  clear: both;
}

.userText span {
  line-height: 1.5em;
  display: inline-block;
  background: #5ca6fa;
  padding: 10px;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  max-width: 80%;
  margin-right: 10px;
  animation: floatup .5s forwards
}

.botText {
  color: #000;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.botText span {
  line-height: 1.5em;
  display: inline-block;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  max-width: 80%;
  margin-left: 10px;
  animation: floatup .5s forwards
}

@keyframes floatup {
  from {
      transform: translateY(14px);
      opacity: .0;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}

@media screen and (max-width:600px) {
  .full-chat-block {
      width: 100%;
      border-radius: 0px;
  }
  .chat-bar-collapsible {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;
  }
  .collapsible {
      width: 100%;
      border: 0px;
      border-top: 3px solid white;
      border-radius: 0px;
  }
}